.container {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid red;
  padding: 20px;
}

.image-container {
  width: 200px;
  height: 200px;
}

.drop-shadow {
  filter: drop-shadow(10px 20px 16px);
}

img {
  width: 100%;
  height: 100%;
}
