html {
  display: grid;
  place-content: center;
  height: 100vh;
  color: white;
  background: hsl(210deg 15% 6%);
}

svg {
  width: 200px;
  fill: none;
  outline: 1px solid hsl(210deg 10% 30%);

  path {
    stroke: white;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

#person-cartoon line,
circle {
  stroke: white;
  stroke-width: 2;
}

#cartoon-smile {
  transition: d 0.5s ease-in-out;
}

#person-cartoon:hover #cartoon-smile {
  d: path("M 67,72.5 Q 70,75 73,72.5");
}

#person-cartoon:hover {
  cursor: pointer;
}
