body {
  padding: 100px;
}

button {
  width: 30%;
}

#container,
#container-2,
.segment {
  display: flex;
  width: 70%;
  padding: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
}

#tile-container {
  display: grid;
  border: 1px solid red;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
}

.first-section {
  border: 1px solid red;
  width: 50%;
}

.segment {
  border: 1px solid green;
}

.video-player {
  width: 800px;
  border: 1px solid red;
  max-width: 100%;
}

.video-player video {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.hidden {
  display: none;
}
