.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 200px;
}

#rect-svg {
  border: 1px solid red;
}

#pause-play {
  border: 1px solid red;
}

.ball {
  border-radius: 50%;
}

.ball,
.elastic {
  width: 200px;
  height: 200px;
  background: turquoise;
  will-change: transform;
}

svg {
  color: black;
  /* border: 1px solid red; */
}

svg:hover {
  cursor: pointer;
}

circle {
  fill: none;
  stroke: black;
  stroke-width: 1.3;
}

polygon {
  fill: currentColor;
}
