.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 300px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: start;
}

.ball {
  border-radius: 50%;
}

.ball,
.elastic {
  width: 200px;
  height: 200px;
  background: turquoise;
  will-change: transform;
}

svg {
  width: 250px;
  height: 250px;
  color: #5bf;
}

circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 10;
}

polygon {
  fill: currentColor;
}
